// @media (max-width: 1115px) {
// .post-type-archive-industries .search-bar input{
//     max-width: none;
//     min-width: 55%;
//     }
//}
.post-type-archive-industries #tabbed-content {
    background-color: #fff !important;
    padding-bottom: 75px;
    padding-top: 0;
    margin-top: -20px;
}
.post-type-archive-industries .tab-contents p{
    color: white;
}